---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: postgresql
  namespace: storage
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m

  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1002
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      main:
        containers:
          main:
            image:
              repository: docker.io/library/postgres
              tag: 16.1
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: &secrets postgresql-secrets
            securityContext:
              runAsUser: 999
              allowPrivilegeEscalation: false

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: 10.172.90.44
        ports:
          http:
            port: 5432

    persistence:
      library:
        existingClaim: local-postgresql
        advancedMounts:
          main:
            main:
              - path: /var/lib/postgresql/data
                subPath: pgdata
        
