---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app immich
  namespace: &ns media
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1002
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      main:
        type: statefulset

        containers:
          main:
            dependsOn:
              - postgresql
              - redis
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: &tag v2.3.1
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: &secrets immich-secrets
              - configMapRef:
                  name: &config immich-config
            env:
              IMMICH_PORT: '2283'
            resources:
              requests:
                cpu: 5m
                memory: 250Mi
              limits:
                memory: 2500Mi

          ml:
            dependsOn:
              - main
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: *tag
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: *secrets
              - configMapRef:
                  name: *config
            env:
              IMMICH_PORT: '3003'
            resources:
              requests:
                cpu: 15m
                memory: 250Mi
          
          postgresql:
            name: postgresql
            image:
              repository: ghcr.io/immich-app/postgres
              tag: 16-vectorchord0.3.0-pgvectors0.2.1
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: *secrets
              - configMapRef:
                  name: *config
            securityContext:
              runAsUser: 999
              allowPrivilegeEscalation: false
          
          redis:
            name: redis
            image:
              repository: docker.io/library/redis
              tag: 7
              pullPolicy: IfNotPresent

    service:
      main:
        controller: main
        ports:
          http:
            port: 2283

    ingress:
      main:
        enabled: true
        className: nginx
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Photos
          gethomepage.dev/group: widgets
          gethomepage.dev/icon: immich.png
          gethomepage.dev/name: Immich
          gethomepage.dev/weight: "10"
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.url: "https://immich.${SECRET_DOMAIN}"
          gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_IMMICH}}"
          gethomepage.dev/widget.version: "2"
        hosts:
          - host: &host "immich.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: immich-tls

    persistence:
      library:
        existingClaim: local-immich
        advancedMounts:
          main:
            main:
              - path: /usr/src/app/upload
                subPath: upload
            ml:
              - path: /cache
                subPath: models
            postgresql:
              - path: /var/lib/postgresql/data
                subPath: pgdata
