---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre
  namespace: &ns media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1002
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      main:
        type: statefulset
        containers:
          main:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: v4.0.6
              pullPolicy: IfNotPresent

    service:
      main:
        ports:
          http:
            port: 8083

    ingress:
      main:
        enabled: false
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-staging"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: eBook Library Admin
          gethomepage.dev/group: self-hosted
          gethomepage.dev/icon: calibre.png
          gethomepage.dev/name: Calibre
          gethomepage.dev/weight: "50"
        hosts:
          - host: &host "calibre.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls: []

    persistence:
      config:
        enabled: true
        existingClaim: local-calibre
        globalMounts:
          - path: /calibre-library
            subPath: library
          - path: /config
            subPath: web
      ingestion:
        enabled: true
        existingClaim: nas-calibre
        globalMounts:
          - path: /cwa-book-ingest
