---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kopia
  namespace: &ns system
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 1002
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      main:
        containers:
          main:
            image:
              repository: kopia/kopia
              tag: 0.22.3
              pullPolicy: IfNotPresent
            command: kopia
            args:
              - server
              - start
              - --insecure
              - --address
              - 0.0.0.0:80
              - --without-password
              - --log-level
              - debug
              - --disable-csrf-token-checks
            env:
              KOPIA_WEB_ENABLED: true
              KOPIA_WEB_PORT: &port 80
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: kopia-secrets
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: nginx
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Backups
          gethomepage.dev/group: widgets
          gethomepage.dev/icon: kopia.png
          gethomepage.dev/name: Kopia
          gethomepage.dev/weight: "5"
          gethomepage.dev/widget.type: kopia
          gethomepage.dev/widget.url: "https://kopia.${SECRET_DOMAIN}"
          gethomepage.dev/widget.username: "{{HOMEPAGE_VAR_KOPIA_USERNAME}}"
          gethomepage.dev/widget.password: "{{HOMEPAGE_VAR_KOPIA_PASSWORD}}"
          gethomepage.dev/widget.snapshotPath: "{{HOMEPAGE_VAR_KOPIA_PATH}}"
        hosts:
          - host: &host "kopia.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config-file:
        enabled: true
        type: configMap
        name: *app
        globalMounts:
          - path: /app/config/repository.config
            subPath: repository.config
            readOnly: true
      snapshots:
        existingClaim: nas-kopia
      vols:
        existingClaim: tera-kopia
      tmpfs:
        type: emptyDir
        advancedMounts:
          kopia:
            app:
              - path: /app/cache
                subPath: cache
              - path: /app/logs
                subPath: logs
              - path: /tmp
                subPath: tmp:shared
