---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./influxdb/influxdb-pvc.yaml
  - ./influxdb/influxdb-secrets.sops.yaml
  - ./influxdb/influxdb-app.yaml
  - ./pgadmin/pgadmin-pvc.yaml
  - ./pgadmin/pgadmin-secrets.sops.yaml
  - ./pgadmin/pgadmin-app.yaml
  - ./postgresql/postgresql-pvc.yaml
  - ./postgresql/postgresql-secrets.sops.yaml
  - ./postgresql/postgresql-app.yaml